.operatorHomePage{
    /* border:2px solid black; */
    display: flex;
   justify-content: center;
    /* align-items:center; */
    min-height: 100vh;
    margin-top: 50px;

}
.issueDiv{
    border:2px solid black;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
     background-color: #fcd58b;
     padding: 10px;
     margin-bottom: 10px;
     border-radius: 10px;
}
.issuesDiv{
    width:700px;
    /* border:2px solid black; */
}
.commonDiv{
    display: flex;
    justify-content:space-between;
    /* border:2px solid black; */
    max-height: 30px;
}
.addSolutionBtn{
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.addSolutionBtn:hover{
    background-color:blue ;
    color: white;
}