.customerNavBar{
    height: 60px;
    display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 30px;
   
  
}
.customerNavBar nav{

    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.logOutDiv{
    display: flex;
    justify-content: space-around;

    width: 300px;
}
.customerNavBar {
    background-color: #110965;
  }
  
  .customerNavBar .nav-link {
    color: white;
  }

.navLinks{
  color: white;
  text-decoration: none;
}
.navLinks:hover{
  text-decoration: underline;
}

.container ul{
  display: flex;
  gap:15px
}